
FLASK_APP=app.py
FLASK_ENV=development
FLASK_DEBUG=1

# Google Gemini API
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

# Google Maps API
GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_API_URL=https://maps.googleapis.com/maps/api/directions/json

# Geocoding API
GEO_CODE_API_KEY=
GEO_CODE_API_URL=https://geocode.maps.co/search

# Weather API
WEATHER_API_URL=https://api.open-meteo.com/v1/forecast

# MCP Server
SERVER_PATH=server.py
