FLASK_ENV=development
ALLOWED_ORIGINS=http://localhost:8081,http://localhost

# Feature flags
TEST_MODE_ENABLED=true

# Google Gemini
GEMINI_API_KEY=
GEMINI_MODEL=

# Google Maps
GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_API_URL=

# Geocoding
GEO_CODE_API_KEY=
GEO_CODE_API_URL=

# Weather
WEATHER_API_URL=

# Cloudflare Turnstile chaves de teste oficiais
TURNSTILE_SECRET_KEY=1x0000000000000000000000000000000AA
EXPO_PUBLIC_TURNSTILE_SITE_KEY=1x00000000000000000000AA
